{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
<section class="container pt-5">
    <div class="shadow p-5 mb-5 bg-body rounded">
        <div class="d-flex align-items-center mb-5">
            <h2>{{ team.getName()  }} Players </h2>
            <a class="btn btn-primary ms-auto" href="{{ path('app_team_index') }}">Back to Home</a>
        </div>

        <div class="row">
            {% if players|length > 0 %}
            {% for player in players %}
            <div class="col-md-3 p-2">
                <div class="card shadow rounded">
                  <img src="/assets/profile.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                   <div class="d-flex pb-2">
                        <h5 class="card-title">{{ player.getName() }}</h5>
                        <h4 class="ms-auto">${{ player.getPrice() }}</h4>
                   </div>
                   
                    <a class="btn btn-primary" href="{{ path('app_player_sell' , {'teamId':team.id,'playerId':player.id}) }}">Sell Player</a>
                  </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p>No players found in this team.</p>
            {% endif %}
        </div> 
    </div>
</section>
    
{% endblock %}
